* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    color: #FFF;
    background: #000;
}

main {
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
}

h1 {
    margin: 0 0 15px 0;
    text-align: center;
}

div { 
    flex: 1 1;
}