* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    color: #FFF;
    background: #000;
}

main {
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
}

h1 {
    margin: 0 0 15px 0;
    text-align: center;
}

section {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

section button { 
    flex: 1 1 50%;
    height: 100px;
    border: 1px solid transparent;
    
}

section button#btnYellow {
    background: yellow;
    border-radius: 80px 15px 15px 15px;
}

section button#btnRed {
    background: red;
    border-radius: 15px 80px 15px 15px;
}

section button#btnGreen {
    background: green;
    border-radius: 15px 15px 80px 15px;
}

section button#btnBlue {
    background: blue;
    border-radius: 15px 15px 15px 80px;
}

button#startGame {
    width: 150px;
    padding: 15px 0;
    margin-top: 20px;
    background: #CCC;
    color: #000;
    text-transform: uppercase;
    border-radius: 100%;
    border: 0;
}